html,
body {
	height: 100%;
	margin: 0
}

#application {
	height: 100%;
	margin: 0
}
.mbean-view {
	height: 100%;
}

.domain {
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #fafafa;
    padding: 2px;
    padding-left: 10px;
    border-radius: 4px;
}

.mbean {
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    position: relative;
}

.mbean .active {
    color: #045;
    font-style: italic;
}


.active {
	font-weight: bold;
}

.mbean:before {
    content: "â";
    left: 10px;
    position: absolute;
}

.mbean-value {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    max-width: 600px;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}


.operation-success {
    color: #00A000;
}

.operation-error {
    color: #A00000;
}

.complex-operation {
    cursor: pointer;
}
