<div class="container" ng-controller="JimixController">
    <div class="row">
        <div class="col-lg-4">
            <div class="input-group" style="padding-right: 10px">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
                <span class="input-group-addon" style="cursor: pointer"><a ng-click="searchText = null"><span class="glyphicon glyphicon-remove"></span></a></span>
            </div>
                
            <br>
            <div jimix-fill-height style="padding-right: 10px">
                <div ng-repeat="domain in domains" class="domain" >
                        <div ng-click="toggleDomain(domain)" title="{{domain.name}}">{{domain.name}}</div>
                    <div ng-show="domain.expanded">
                        <div  class="mbean" ng-repeat="mbean in domain.mbeans| filter:searchText" >
                            <a ui-sref="mbean({objectName: mbean.objectName})" ui-sref-active="active" title="{{mbean.name}}">{{mbean.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <ui-view></ui-view>
        </div>
    </div>
</div>
