<div ng-controller="MBeanController">
    <div class="row">
        <div class="col-xs-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchTextAttribute">
                <span class="input-group-addon" style="cursor: pointer"><a ng-click="searchTextAttribute = null"><span
                            class="glyphicon glyphicon-remove"></span></a></span>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" ui-sref=".({autoRefresh: null})" ui-sref-active="active">
                    Auto-Refresh: Off
                </button>
                <button type="button" class="btn btn-primary" ui-sref=".({autoRefresh: 10000})" ui-sref-active="active">
                    10 s
                </button>
                <button type="button" class="btn btn-primary" ui-sref=".({autoRefresh: 60000})" ui-sref-active="active">
                    1 min
                </button>
            </div>
        </div>
    </div>
    <br>

    <h3>Attributes</h3>

    <div jimix-fill-height="mbean.operations.length > 0?0.5:1.0">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <tr ng-repeat="attribute in mbean.attributes| filter:searchTextAttribute">
                <td>{{attribute.name}}</td>
                <td style="text-align: right"><span ng-if="attribute.delta"
                                                    ng-style="{color: attribute.delta > 0?'#ADA':'#DAA'}">({{attribute.delta > 0?"+":""}}{{attribute.delta}}) &nbsp;&nbsp;&nbsp;</span><span
                                                    class="mbean-value">{{attribute.value}}<span></span></span></td>
            </tr>
        </table>
    </div>
    <div ng-if="mbean.operations">
        <h3>Operations</h3>

        <div jimix-fill-height>
            <table class="table table-bordered table-condensed table-striped table-hover">
                <tr ng-repeat="operation in mbean.operations| filter:searchTextAttribute">
                    <td style="width: 200px; vertical-align: top">
                        <button ng-disabled="operation.invoking" ng-if="hasNoArguments(operation)" class="btn btn-default btn-sm" ng-click="invokeOperation(operation)">{{operation.name}}</button>
                        <span ng-if="!hasNoArguments(operation)" class="complex-operation" ng-click="operation.parametersExpanded = !operation.parametersExpanded">{{operation.name}}</span>
                        <div ng-if="operation.parametersExpanded">
                            <br>
                            <button class="btn btn-primary btn-sm" ng-click="invokeOperation(operation)">Invoke</button>
                        </div>
                    </td>
                    <td>
                        <div ng-if="operation.parametersExpanded">
                            <table><tr ng-repeat="parameter in operation.signature">
                                    <td style="width: 320px">
                                        <input type="text" class="form-control input-sm" ng-model="operation.arguments[$index]"></input>
                                    </td><td class="text-muted">&nbsp;&nbsp;({{parameter.type}})</td>
                                </tr></table>
                            <br>
                        </div>
                        <span ng-if="operation.invoking" style="color: #aaa">invoking...</span>
                        <span ng-hide="operation.invoking" ng-class="{'operation-error': !operation.success, 'operation-success':operation.success}">{{operation.result}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
