<div ng-controller="MBeanController">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchTextAttribute">
        <span class="input-group-addon" style="cursor: pointer"><a ng-click="searchTextAttribute = null"><span class="glyphicon glyphicon-remove"></span></a></span>
    </div>
    <br>
    <table class="table table-bordered table-condensed table-striped table-hover">
        <tr ng-repeat="attribute in mbean.attributes| filter:searchTextAttribute">
            <td>{{attribute.name}}</td><td style="text-align: right">{{attribute.value}}</td>
            <!--<td style="text-align: right"><span class="text-muted">{{attribute.type}}</span></td>-->
        </tr>
    </table>

</div>
